[user]
	email = d.reale.caron@protonmail.com
	name = Dorian Réale Caron
[init]
	defaultBranch = main
[alias]
	adog = log --all --decorate --oneline --graph
	s = status
	l = log
[core]
	editor = vi
[pull]
	rebase = false
