.bash_history
.cache
.config
.dotnet
.landscape
.lesshst
.local
.motd_shown
.npm
.nvm
.oh-my-zsh
.ssh
.sudo_as_admin_successful
.viminfo
.vscode-server
.yarn
.yarnrc
.zcompdump**
.zsh_history
.zshrc.pre-oh-my-zsh

dev/*
snap/*

!dev/.gitkeep
